:root {
  color-scheme: light dark;

  --white-color: #fff;
  --dark-navy-color: #171c28;
  --deep-yellow-color: #ffcb29;
  --deep-pink-color: #ff2970;
  --deep-cyan-color: #03a4c8;
  --deep-purple-color: #5f29ff;
  --deep-orange-color: #ed9625;
  
  --bg-color: light-dark(var(--white-color), var(--dark-navy-color));
  --text-color: light-dark(var(--dark-navy-color), var(--white-color));

  --primary-color: light-dark(var(--deep-purple-color), var(--deep-yellow-color));
  --secondary-color: light-dark(var(--deep-cyan-color), var(--deep-orange-color));

  --surface-color: color-mix(in srgb, var(--text-color), transparent 92%);
  --surface-color-bold: color-mix(in srgb, var(--text-color), transparent 80%);
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font: 1rem/1.5 "Spoqa Han Sans Neo", ui-sans-serif, system-ui, sans-serif;
}

.prose {
  max-width: 65ch;
  margin: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  color: var(--text-color);

  & h1, & h2, & h3 {
    margin: 0;
    line-height: 1.2;
    font-weight: 400;
    color: var(--primary-color);
  }

  & h1 { font-size: 1.75rem; }
  & h2 { font-size: 1.5rem; }
  & h3 { font-size: 1.125rem; }

  & p {
    margin-block: 1.25em;
  }

  & blockquote {
    margin-block: 1.6rem;
    padding-left: 1rem;
    border-left: 0.25rem solid var(--primary-color);
    background-color: var(--surface-color);
    color: var(--secondary-color);
    font-style: italic;
    font-weight: 500;
  }

  & strong {
    color: var(--primary-color);
    font-weight: 700;
  }

  & code {
    padding: 0.2em 0.4em;
    border-radius: 0.375rem;
    font-size: 0.875em;
    font-family: ui-monospace, monospace;
    background-color: var(--surface-color);
  }

  & a {
    color: var(--secondary-color);
    text-decoration: underline;
    text-underline-offset: 0.2em;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: var(--primary-color);
    }
  }

  & dfn {
    font-style: normal;
    
    & abbr[title] {
      cursor: help;
      border-block-end: 1px dashed var(--primary-color);
      text-decoration: none;
      font-weight: 500;
    }
  }

  & abbr:not(dfn abbr) {
    font-weight: 500;
  }
}