@layer base, theme, components, utilities;

@import './common/_normalize.css' layer(base);
@import './common/_base.css' layer(base);

@import './common/_theme.css' layer(theme);
@import './_theme.css' layer(theme);

@import './components/_container.css' layer(components);
@import './components/_navigation.css' layer(components);
@import './components/_button.css' layer(components);

@import './_demo.css';
