.offsite-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  background-color: var(--menu-background-color);
}

.site-container {
  padding-top: 3rem;
  padding-left: 2.5rem;
  max-width: 43rem;
}

.off-canvas-is-open {

  .offsite-container,
  .site-container {
    translate: 14rem 0;
  }
}